.fav-card {
  margin: 0.5rem;
  height: 10rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem;
}

.fav-buttonContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}
.fav-buttonContainer button {
  margin: 0.1rem 0.3rem;
  padding: 0.3rem 1.1rem;
  border-radius: 4px;
  border: none;
  text-transform: capitalize;
  background: var(--font-color);
  color: white;
}

.fav-card img {
  width: 8rem;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.fav-product-content_container {
  margin: 0 1rem;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.fav-product-detail {
  display: flex;
  margin: 0.4rem;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.productName {
  font-weight: 400;
  letter-spacing: 0.4px;
  vertical-align: middle;
  font-family: "roboto", san-serif;
  text-transform: capitalize;
  color: var(--secondary);
  margin: 0;
}
.price {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  color: var(--font-color);
}

.prod-detail_container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 640px) {
  .fav-card {
    height: 14rem;
  }
  .fav-card img {
    width: 12rem;
  }
  .fav-buttonContainer button {
    height: 2.6rem;
    width: 6rem;
  }
}
