.home-container {
  margin: 0.8rem;
  width: 15rem;
  height: 27rem;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}
.home-container button:hover {
  cursor: pointer;
  outline: none;
}
.home-fav {
  align-items: center;
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 1rem;
  border: none;
  right: 1rem;
}
.home-highlight {
  background: var(--font-color);
  border: 1px solid white;
}
.product-main_container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 65% 35%;
}
.product-main_container img {
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.productName {
  font-weight: 400;
  letter-spacing: 0.4px;
  vertical-align: middle;
  font-family: "roboto", san-serif;
  text-transform: capitalize;
  color: var(--secondary);
  margin: 0;
}
.price {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  color: var(--font-color);
}
.bottomContainer {
  padding: 0.8rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.buttonContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.buttonContainer button {
  margin: 0.1rem 0.3rem;
  padding: 0.3rem 1.1rem;
  border-radius: 4px;
  border: none;
  text-transform: capitalize;
  background: var(--font-color);
  color: white;
}

