@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Roboto:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
:root {
  --white: #f2f3d9;
  --font-color: #ef3b7d;
  --light: #191d3a;
  --secondary: #0f111b;
  --primary: #081229;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
