.home-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.4rem;
  padding: 0 2rem;
  flex-direction: column;
}
.home-content_container {
  border: 1px solid #ccc;
  width: 93%;
  border-radius: 4px;
  height: 100%;
}

.product-title {
  margin: 1rem 0;
  width: 100%;
  font-size: 3rem;
  margin-left: 2rem;
  font-weight: bolder;
  letter-spacing: 3px;
}
.product-card {
  width: 100%;
  grid-area: content;
  grid-template-columns: repeat(auto-fit, 18.8rem);
  display: grid;
  justify-content: center;
}

@media (max-width: 640px) {
  .home-content_container {
    border: none;
    width: 100%;
    padding: 0 1rem;
  }
  .product-title {
    font-size: 2rem;
    text-align: center;
    margin: 0;
  }
}
